div{
   background-color: aqua;
   height: 300px;
   width: 400px;
   border: black 4px solid;
   /* border-radius: 5px; */
   
}
.we{
    margin-left: 504px;
    margin-top: 200px;
}
#uy{
    margin-left: 504;
    margin-top: 200px;
}